# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out
dist
build

# Development
.git
.gitignore
.env*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
.nyc_output
*.test.*
*.spec.*

# Misc
README.md
Dockerfile
.dockerignore
api-doc
